* {
  padding: 0px;
  margin: 0px;
}

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.iconbutton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #ff4f79;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.button {
  width: 60px;
  height: 60px;
  background: #a11692;
}

.iconbutton i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.hide {
  height: 0vh;
}

.question-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(36, 42, 51, 0.54);
  transition: height 500ms;
}

.question-form {
  width: 80vh;
  height: 80vh;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}